<h1>Ejercicio 8</h1>


<div>
    <p class="aumentar">
        {{ mostrar }}
    </p>
</div>

<div>
    <button class="btn1" (click)="sumar()">
        +
    </button>

    <button class="btn2" (click)="restar()">
        -
    </button>
</div>


<div class="mensaje">
    <p *ngIf="advertencia === true">
        El valor no puede sobrepasar el limite de 50 y tampoco puede ser negativo 
    </p>
</div>
