.aumentar {
    border: 2px solid black;
    padding: 20px 40px;
    font-size: 40px;
    margin-right: 100%;
}

.btn1 {
    padding: 15px 30px;
    border-radius: 10%;
    background-color: green;
    color: white;
    display: block;
    margin-top: 0px;
}

.btn2 {
    padding: 15px 30px;
    border-radius: 10%;
    margin-top: 15px;
    background-color: rgb(183, 38, 38);
    color: white;
}